* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacing {
  margin-top: 20%;
}

.error {
  font-size: 13px;
  color: red;
  margin-top: -10px;
  margin-left: -174px;
}

.form_wrapper {
  margin: 6% 64% 0% 64%;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;;
  background: #fafafa;
  padding: 20px;
  width: 30%;
}

.form_fields_padding {
  margin: 30px 22px 0px 228px;
  width: 38vw;
  max-width: 323px;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.subHeading {
  font-size: 1.5rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

.pinkBg {
  background-color: #fe528d;
}

.whiteText {
  color: white;
}

.boldText {
  font-weight: 700;
}

.pinkText {
  color:#020F59 ;/* #fe528d;*/
}

button {
  width: 100%;
}

#timer {
  text-align: center;
  padding: 8px;
  visibility: hidden;
  margin-left: -184px;
  margin-right: 214px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  border-radius: 3px;
 /* border:solid 1px #838383;*/
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

@media (max-width: 500px) {
  .form_fields_padding {
    margin-left: 16%;
  }
}
.mat-input-element {
  font: inherit;
  background: 0 0;
  color: currentColor;
  border: solid 1px #0D5EDE  !important;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  height: 44px !important;
  border-radius: 8px !important;
  opacity: 0.6;
  width: 100%;
  margin-left: -200px;
  font-size: 14px;
  /*margin: 0 30% 36px -131px;*/
}
.connexiontxt{
  position: relative;
  top: 2vw;
  color: #020F59;
  left: 15px;
}
.btn_axn-pri{
  width: 93% !important;
  left: -190px;
  margin: 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start{
  border: none !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-start{
  border: none !important;
}
#logobiometrie{
background-image: url("/src/assets/biometrie.jpg");
background-size: cover;
z-index: 44;
width: 180px;
height: 180px;
position: absolute;
top: 26vh;
left: 15vw;
}
.mat-card{
  position: absolute;
  margin-left:26px ;/*-271px;*/
  margin-right: 15px;
  background: transparent;
  padding: 0px;
  top: 194px;/*76px;*/
}
@media screen and (min-width: 501px) and (max-width: 935px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 5px;
  }
  .input_pri{
    margin-left: -252px !important;
    width: 80%;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
  /*  left: -190px;*/
    margin: 0 36% 36px -50px;
    width: 74% !important;
    /*margin-left: -192px !important;*/
  }
  #timer{
    margin-right: 222px;
    margin-left: -321px;
  }
}
@media screen and (min-width: 936px) and (max-width: 1000px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 5px;
  }
  .input_pri{
    margin-left: -262px !important;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
  /*  left: -190px;*/
    margin: 0 36% 36px -61px;
    /*margin-left: -192px !important;*/
  }
  #timer{
    margin-right: 222px;
    margin-left: -274px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1040px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 5px;
  }
  .input_pri{
    margin-left: -256px !important;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
  /*  left: -190px;*/
    margin: 0 36% 36px -55px;
    /*margin-left: -192px !important;*/
  }
  #timer{
    margin-right: 222px;
    margin-left: -274px;
  }
}
@media screen and (min-width: 1041px) and (max-width: 1101px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 5px;
  }
  .input_pri{
    margin-left: -250px !important;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
  /*  left: -190px;*/
    margin: 0 36% 36px -50px;
    /*margin-left: -192px !important;*/
  }
  #timer{
    margin-right: 222px;
    margin-left: -274px;
  }
}
@media screen and (min-width: 1102px) and (max-width: 1182px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 5px;
  }
  .input_pri{
    margin-left: -235px !important;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
  /*  left: -190px;*/
    margin: 0 36% 36px -36px;
    /*margin-left: -192px !important;*/
  }
  #timer{
    margin-right: 222px;
    margin-left: -261px;
  }
}
@media (max-width: 500px) {
  .positionimgbiom {
    display: none !important;
  }
  .connexiontxt{
    left: 0px;
    font-size: 22px;
  }
  .input_pri{
    margin-left: -44px !important;
    width: 80%;
    /*margin-left: -214px !important;*/
  }
  .btn_axn-pri{
    left: -31px;
    width: 70% !important;
    padding: initial;
    /*margin-left: -192px !important;*/
  }
  #timer{

    margin-left: -15px;
  }
  }
.positionimgbiom{
  height: 213px;
  margin-left: -230px;
  }
.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none !important;
}
button.mat-raised-button.mat-primary{
  width: 24%;
  background-color: #020F59 !important;
  line-height: 48px !important;
}
mat-form-field-infix{
  border: none !important;
}
.btn_axn-pri[disabled]{
background: #BCE0FD;
}