
<section class="wrapper">
  <ul id="breadcrumb" class="breadCrumbs">
    <li><a href="" title="" [ngClass]="classes.step1.a"><img src="assets/Profile.svg" [ngClass]="classes.step1.icon"/>{{'stepper.link_demographic'| translate}}</a></li>
    <li><a href="" title="" [ngClass]="classes.step2.a"><img src="assets/upload_document.svg" [ngClass]="classes.step2.icon" />{{'stepper.link_upload_doc'| translate}}</a></li>
    <li><a href="" title="" [ngClass]="classes.step3.a"><img src="assets/Clock.svg" [ngClass]="classes.step3.icon"/>{{'stepper.link_book'| translate}}</a></li>
    <li><a href="" title=""  [ngClass]="classes.step4.a"><img  src="assets/confirmation.svg" [ngClass]="classes.step4.icon" /> {{'stepper.link_confirm'| translate}}</a></li>
  </ul>
</section>