<configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>authentication.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>