<div class="spinner" *ngIf="!dataIncomingSuccessful && !hasError">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="(dataIncomingSuccessful) || hasError">
    <div class="wrapper">
        <div class="user">
            <form [formGroup]="userForm" class="user__form">
                <div [dir]="textDir" class="user__container card">
                    <h4 id="titleposition" class="titlecolor">{{ 'demographic.personnal_infos_section_title' | translate }}</h4>
<br/>
                    <div class="row">
                        <div class="col-50">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.label_first_name' | translate }}</mat-label>
                                <input
                                        matInput
                                        #firstName
                                        placeholder="prénom"
                                        [formControlName]="formControlNames.firstName"
                                />
                                <mat-error *ngIf="!firstName.invalid">
                                    Prénom requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-50">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.label_last_name' | translate }}</mat-label>
                                <input
                                        matInput
                                        #lastName
                                        placeholder="nom de famille"
                                        [formControlName]="formControlNames.lastName"
                                />
                                <mat-error *ngIf="!lastName.invalid">
                                    Nom de famille requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-label style="position: relative;margin-left: 3px;bottom: -20px;">{{ 'demographic.text_date' | translate }} </mat-label>
                    <div class="user__age-or-date">
                        <div class="user__date">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.date_dd' | translate }}</mat-label> 
                                <input
                                        matInput
                                        placeholder="JJ"
                                        #dd
                                        [formControlName]="formControlNames.date"
                                        (focusout)="onDOBChange()"
                                />
                            </mat-form-field> <p>/</p>
                            <mat-form-field>
                                <mat-label>{{ 'demographic.date_mm' | translate }}</mat-label>
                                <input
                                        matInput
                                        placeholder="MM"
                                        #mm
                                        [formControlName]="formControlNames.month"
                                        (focusout)="onDOBChange()"
                                />
                            </mat-form-field> <p>/</p>
                            <mat-form-field>
                                <mat-label>{{ 'demographic.date_yyyy' | translate }}</mat-label>
                                <input
                                        matInput
                                        placeholder="AAAA"
                                        #yyyy
                                        [formControlName]="formControlNames.year"
                                        (focusout)="onDOBChange()"
                                />
                            </mat-form-field>
                        </div>

                        <div class="user__pref">
                            {{ 'demographic.text_or' | translate }}
                        </div>
                        <div style="margin-right: 118px;" class="user__age">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.label_age' | translate }}</mat-label>
                                <input
                                        matInput
                                        tabindex="-1"
                                        [formControlName]="formControlNames.age"
                                        placeholder="{{ 'demographic.label_age' | translate }}"
                                        #age
                                        (focusout)="onAgeChange()"
                                />
                            </mat-form-field>
                            <div class="user__age--years">{{ 'demographic.text_years' | translate }}</div>
                        </div>
                    </div>
                    <div
                            class="mat-error ng-star-inserted user__dob__error"
                            *ngIf="
                  (userForm.get(formControlNames.dateOfBirth).touched &&
                    userForm.get(formControlNames.dateOfBirth).hasError('incorrect')) ||
                  (userForm.get(formControlNames.age).touched && !userForm.get(formControlNames.age).valid)
                "
                    >
                        {{ 'demographic.validation.DOB_validation' | translate }}
                    </div>

                    <div class="user__genderAndForeigner user__dropdown">

                        <mat-form-field>
                            <mat-select
                                    [formControlName]="formControlNames.gender"
                                    (change)="onGenderChange(genders, $event)"
                                    placeholder="{{ 'demographic.text_gender' | translate  }}"
                                    appearance="legacy"
                                    name="fontStyle"
                                    aria-label="Font Style"
                            >
                                <mat-option *ngFor="let gender of genders" [value]="gender.code">
                                    {{ gender.genderName }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf=" userForm.get(formControlNames.gender).touched && userForm.get(formControlNames.gender).invalid">
                                {{ 'demographic.validation.gender_validation' | translate }}</mat-error>
                        </mat-form-field>
                    </div>


                    <div class="user__genderAndForeigner user__dropdown">

                        <mat-form-field>
                            <mat-select
                                    [formControlName]="formControlNames.residenceStatus"
                                    (change)="onResidenceStatusChange(residenceStatus, $event)"
                                    placeholder="{{ 'demographic.text_residence_status' | translate }}"
                                    appearance="legacy"
                                    name="fontStyle"
                                    aria-label="Font Style"

                            >
                                <mat-option *ngFor="let resident of residenceStatus" [value]="resident.code">
                                    {{ resident.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf=" userForm.get(formControlNames.residenceStatus).touched &&
                            userForm.get(formControlNames.residenceStatus).invalid">
                                {{ 'demographic.validation.nationality_validation' | translate }}
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <br/>
                    <h4 style="margin-top: 22px;" class="titlecolor">{{ 'demographic.contact_section_title' | translate }}</h4>

                    <div class="user__dropdown">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_mob_num' | translate }}</mat-label>
                            <input
                                    matInput
                                    #mobileNumber
                                    type=""
                                    maxlength="{{ MOBILE_LENGTH }}"
                                    placeholder="{{ 'demographic.label_mob_num' | translate }}"
                                    [formControlName]="formControlNames.phone"
                            />
                            <mat-error *ngIf="!mobileNumber.invalid">{{
                                'demographic.validation.mobile_required' | translate
                                }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user__dropdown">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_email_id' | translate }}</mat-label>   
                            <input
                                #email
                                type="text"
                                maxlength="{{ EMAIL_LENGTH }}"
                                matInput
                                placeholder="{{ 'demographic.label_email_id' | translate }}"
                                [formControlName]="formControlNames.email"
                            />
                            <mat-error *ngIf="!email.invalid">{{ 'demographic.validation.email_required' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div [dir]="textDir" class="user__container card">
                    <h4 id="titleposition" class="titlecolor">{{ 'demographic.address_section_title' | translate }}</h4>
                   <br/>
                    <div class="user__dropdown">
                        <mat-form-field>
                            <mat-select
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, prefectures, regions, formControlNames.prefecture)"
                                    placeholder="Région"
                                    [formControlName]="formControlNames.region"
                                    #region
                            >
                                <mat-option *ngFor="let region of regions" [value]="region.valueCode">{{
                                    region.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!region.invalid">
                                Veuillez sélectionner une region
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="user__dropdown">
                        <mat-form-field>
                            <mat-select
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, subPrefectureOrCommunes, prefectures, formControlNames.subPrefectureOrCommune)"
                                    placeholder="Préfecture"
                                    [formControlName]="formControlNames.prefecture"
                                    #prefecture
                            >
                                <mat-option *ngFor="let prefecture of prefectures" [value]="prefecture.valueCode">{{
                                    prefecture.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!prefecture.invalid">
                                Veuillez sélectionner une prefecture
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 3px;" class="user__dropdown">
                        <mat-form-field>
                            <mat-select
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, districts, subPrefectureOrCommunes, formControlNames.district)"
                                    placeholder="Sous-préfecture ou Commune"
                                    [formControlName]="formControlNames.subPrefectureOrCommune"
                                    #subprefecture
                            >
                                <mat-option *ngFor="let subprefecture of subPrefectureOrCommunes" [value]="subprefecture.valueCode">{{
                                    subprefecture.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!subprefecture.invalid">Veuillez sélectionner une sous prefecture</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user__dropdown">
                        <mat-form-field>
                            <mat-select
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, sectors, districts, formControlNames.sector)"
                                    placeholder="District"
                                    [formControlName]="formControlNames.district"
                                    #district
                            >
                                <mat-option *ngFor="let district of districts" [value]="district.valueCode">{{
                                    district.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!district.invalid">Veuillez sélectionner un district</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 10px;" class="user__dropdown">
                        <mat-form-field>
                            <mat-select
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, null, sectors)"
                                    placeholder="Secteur"
                                    [formControlName]="formControlNames.sector"
                                    #sector
                            >
                                <mat-option *ngFor="let sector of sectors" [value]="sector.valueCode">{{
                                    sector.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!sector.invalid">Veuillez sélectionner un secteur</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 12px;"class="row"> 
                            <h4 id="complementadr">{{ 'demographic.label_additionalAddressDetails' | translate }}</h4>
                            <textarea
                                    matInput
                                    #additionalAddressDetails
                                    placeholder="Complément d'adresse"
                                    [formControlName]="formControlNames.additionalAddressDetails"
                                    rows="4"
                            >
                            </textarea>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="user__buttons">
        <button
                class="user__btn user__btn--back"
                type="button"
                (click)="onBack()"
                [disabled]="isNewApplicant || this.message['modifyUserFromPreview'] === 'true'"
        >
            {{ 'demographic.action_back' | translate }}
        </button>
        <button
                *ngIf="!showPreviewButton"
                class="user__btn"
                type="button"
                [disabled]="!dataUploadComplete"
                (click)="onSubmit()"
        >
            {{ 'demographic.action_continue' | translate }}
        </button>
        <button
                *ngIf="showPreviewButton"
                class="user__btn"
                type="button"
                [disabled]="!dataUploadComplete"
                (click)="onSubmit()"
        >
            {{ 'demographic.action_preview' | translate }}
        </button>
    </div>
</div>
