:root {
  --text-size: 0.8rem;
}

:ng-deep .mat-focused {
  border-bottom: 1px solid #22a8c9;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #22a8c9;
}

.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}

.wrapper {
  background-color: #f4f4f4;
  z-index: -1;
  overflow-x: hidden;
  margin: 0px 2vw;
  padding-top: 0;
  padding-bottom: 0;
  color: #020F59;
}
.mat-form-field.wrapper{
  border: solid 1px rgba(0,0,0,.125) !important;
  border-radius: 8px !important;

}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px !important;
}
.mat-form-field-underline{
  width: 0% !important;
}

.user {
  background-color: #ffffff;
  z-index: 1;
  margin: auto;
  padding: 1.2rem 2rem 0 2rem;
  padding-top: 1.2rem;
  background-color: white;
  width: 100%;
  display: inline-block;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-50 {
  width: 50%;
}


.user header {
  margin: 0;
  font-weight: bold;
  color: #020F59;
}

.user hr {
  border-top: 1.5px solid #020F59;
  position: relative;
  left: -31.8px;
  margin-top: 0.5rem;
  width: calc(100% + 64px);
  display: none;
}

.user__container {
  font-size: 0.8rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 49%;
  float: left;
  height: 340px !important;
}

.test1 {
}


.user__container h6 {
  font-weight: bold;
  color: #2f3033;
}

.user__form[_ngcontent-c17] {
  width: 100%;
}

.user__form h4 {
  margin: 0;
  padding-left: 3px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

mat-icon {
  position: relative;
  top: 3px;
  font-size: 14px;
  left: -16px;
  display: none;
}

.user__form mat-form-field {
  width: 95%;
  padding: 3px;
  color: #020F59;
  font-size: 0.8rem;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none;
}

.user__age-or-date {
  display: flex;
  width: 70.5%;
  align-items: center;
  margin-top: -7px;
  margin-left: 120px;
}

.user__age-or-date > div {
  width: 33.3%;
}

.user__date {
  display: flex;
  margin-left: 10px;
}

.user__form .user__date mat-form-field {
  width: 32%;
  text-align: center;
}

.user__pref {
  text-align: center;
}

.user__age {
  text-align: end;
  display: flex;
  justify-content: flex-start;
}

.user__age mat-form-field {
  width: 32%;
  text-align: center;
}

.user__age .user__age--years {
 position: relative;
 top: 12px;
}

.user__age--disabled {
  font-size: 0.8rem;
  color: #595f6e;
}

.user__dob__error {
  left: 3px;
  position: relative;
  top: -15px;
  font-size: 75%;
  margin-bottom: -12px;
}

.user__genderAndForeigner {
  font-weight: inherit;
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 2px;
}

.user__genderAndForeigner mat-button-toggle-group {
  box-shadow: none;
  width: 54%;
}

.user__genderAndForeigner mat-button-toggle {
  font-family: Helvetica, Regular;
  font-size: 0.8rem;
  margin: 10px 0px 10px 0px;
  color: #020F59;
  width: 80%;
  max-width: 124px;
  padding: 0.2rem 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.068);
}

.user__genderAndForeigner .mat-button-toggle-checked {
  background-color: #BCE0FD;
  color: #020F59;
}

.user__gender__error {
  left: 3px;
  position: relative;
  top: -5px;
  font-size: 75%;
}

.user__genderAndForeigner--text {
  width: 37%;
  font-size: 0.8rem;
  align-self: center;
  padding-right: 4px;
  color: #020F59;
}

.test2 {
  display: none;
}

.user__dropdown {
  width: 48.7%;
  display: inline-block;
}

.user__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  bottom: 70px;
  position: fixed;
  z-index: 22;
  padding: 0 2vw;
  justify-content: flex-end;
  position: -webkit-sticky;
}

.user__btn {
  background-color: #BCE0FD;
  border: none;
  color: #020F59 !important;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 5px 1px 4px 10rem;
  margin-right: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
 
}

.user__btn--back {
  display: none;
}

.user__btn--continue {
  margin-right: 61px;
  text-transform: uppercase;
}

.user__btn:disabled,
.user__btn:active {

  color: #020F59;
  cursor: default;
  border: none !important ;
}

::ng-deep .mat-button-toggle-button {
  text-transform: uppercase;
}

:ng-deep .mat-form-field-invalid .mat-input-element {
  caret-color: #ff0000;
  color: #ff0000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightgrey;
}

@media (max-width: 798px) {
  .user__container {
    width: 100%;
    float: none;
    padding: 1rem;
  }

  .genderAndForeigner {
    display: flex;
  }

  .genderAndForeigner--foreigner {
    align-self: center;
  }

  .user__genderAndForeigner--text {
    width: 37%;
  }
}

@media (max-width: 1000px) {
  .user__genderAndForeigner mat-button-toggle {
    margin: 6px 4px 1px 1px;
    padding: 0.2rem 0;
  }

  .user__age-or-date {
    width: 92%;
  }

  user__age-or-date .user__age {
    width: 78px;
    text-align: end;
  }

  .user__gender__error {
    top: 0px;
  }

  .genderAndForeigner--foreigner {
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
}
.card{
  border-radius: 16px !important;
  border: 1px solid #020F59;
  margin-left: 6px;
  padding: 16px;
}



.mat-input-element {
  font: inherit;
  border: none;
}
.mat-form-field-infix{
  border: solid 2px #BCE0FD !important;
  border-radius: 10px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline
{
  height: 0px !important;
  display: none;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  border: solid 2px #9b9d9e !important;
  border-radius: 10px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: #020F59 !important;
}
.titlecolor{
color: #020F59 !important;
margin-bottom:10px;
}
.zonetxt{
  width: 530px;
  height: 47px;
  margin-bottom:-7px;
  margin-top:-21px;
  top:-21px;
  position:relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #BCE0FD;border-radius: 4px;opacity: 1;margin-left: 10px;
}
.infocompl{
  position: relative;
  top: -37px;
  padding-left: 10px;
}
input.mat-input-element{
  text-transform: uppercase !important;
  color: black;
}
.mat-select-value-text{
  color: #020F59 !important;
}
.mat-select{
  display: grid;
  display: -moz-grid;
}

.mat-form-field-label-wrapper{
  top: -15px !important;
}
textarea.mat-input-element{
  text-transform: uppercase;
  border-radius: 5px;
  height: 55px;
  border: solid 1px #BCE0FD  !important;
  color: black;
}

.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-option {
  color: #020F59;
}
#titleposition{
  margin-bottom: -14px;
}
#complementadr{
  margin-bottom: -6px;
  font-weight: 300;
  font-family: Roboto;
  font-size: 15px;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  top: 24px;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label{
  top: 24px;
}