<div class="main-footer">
  <p>
    <span class="unirtext"><strong> &copy;UNIR</strong></span>
    <span class="version-txt"><strong>Pré-enregistrement  version: {{appVersion}}</strong></span>
    <span class="droittext"><strong>Tous droits réservés</strong></span>
  </p>
  <a (click)="onLogoClick()"><img src="assets\iconinstagram.png" class="iconinstagram" style="max-height: 18px"/></a>
  <a (click)="onLogoClick()"><img src="assets\icontwitter.png" class="icontwitter" style="max-height: 18px"/></a>
  <a (click)="onLogoClick()"><img src="assets\iconfb.png" class="logofb" style="max-height: 18px"/></a>
</div>


