<div class="main-footer">
  <p>
    <span class="unirtext"><strong> &copy;UNIR</strong></span>
    <span class="version-txt"><strong>Pré-enregistrement  version: {{appVersion}}</strong></span>
    <span class="droittext"><strong>Tous droits réservés</strong></span>
  </p>
  <a><img src="assets\iconinstagram.png" class="iconinstagram" style="max-height: 18px"/></a>
  <a href="https://twitter.com/home"><img src="assets\icontwitter.png" class="icontwitter" style="max-height: 18px"/></a>
  <a href="1.	https://www.facebook.com/Programme-Wuri-Guinee-Tech-team-105810381250275 "><img src="assets\iconfb.png" class="logofb" style="max-height: 18px"/></a>
</div>


