.main-footer {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  border-color: #707070;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 4px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  margin-bottom: -25px;
  background: #020F59;
}

.unirtext{
  font-size: 8px;
  margin-left: 35%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.droittext{
  font-size: 8px;
  margin-left: 20%;
  margin-bottom: 17%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.version-txt{
  font-size: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.logofb{
  width: 7px;
  margin-top: 100%;
  margin-left: 8000%;
}

.iconinstagram{
  width: 11px;
  margin-left: 4600%;
  margin-top: 75%;
  vertical-align: middle;
}

.icontwitter{
  width: 13px;
  margin-left: 4100%;
  margin-top: 65%;
  vertical-align: middle;
}