.main-footer {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  border-color: #707070;
  font-size: 8px;
  padding-top: 10px;
  padding-bottom: 13px;
  position: fixed;
  bottom: -25px;
  width: 100%;
  z-index: -1;
  margin-bottom: 2px;
  background: #020F59;
}

.unirtext{
  font-size: 8px;
  margin-left: 35%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.droittext{
  font-size: 8px;
  margin-left: 20%;
  margin-bottom: 13%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.version-txt{
  font-size: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: block;
  color: white;
}

.logofb{
  width: 7px;
  margin-left: 8000%;
}

.iconinstagram{
  width: 11px;
  margin-left: 4600%;
  vertical-align: middle;
}

.icontwitter{
  width: 13px;
  margin-left: 4100%;
  vertical-align: middle;
}