.draggableDiv {
  border: 1px dotted #000000;
  height: 100%;
  width: 90%;
  position: absolute;
  left: 1.3vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.browseDiv {
  position: absolute;
  top: 0vw;
  left: 1.3vw;
  width: 90%;
  height: 50%;
}
.browseInput {
  background-image: url('/assets/add.svg');
 
  height: 29px;
  width: 29px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  display: block !important;
  outline: none;
  z-index: auto;
}
.browseInputhide{
  display: block !important;
}
.browseInputdisplayed{
  display: block !important;
}

.browseInput[disabled] {
  background-image: url('/assets/add-disabled.svg');
  height: 29px;
  width: 29px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.deleteicon[disabled]{
  background-image: url('/assets/deleteicon.svg');
  
  height: 29px;
  width: 29px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  display: block !important;
}
.deleteandview{
  margin-left: 5px;
  margin-top: -3px;
}
.view-img{
  background: #020F59;
  height: 29px !important;
  width:  29px !important;
  margin-right: 3px;
}
.documentWrapper {
  width: 100%;
  position: absolute;
  left: 1em;
}
mat-select {
  font-weight: normal;
}
mat-select:focus {
  font-weight: normal;
}
.mat-select-value{
  color: #020F59 !important
}
.docsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.docsContainer > * {
  width: 100%;
}

.docsContainer > p.fileName {
  height: 20%;
  width: 85%;
  overflow: hidden;
}

.dropzone {
  min-height: 100px;
  min-width: 90px;
  display: table;
  width: 30%;
  background-color: #eee;
  border: dotted 1px #aaa;
}
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.cross {
  font-weight: 800;
  cursor: pointer;
  position: absolute;
}
.file-upload {
  box-shadow: 1px 1px 10px 4px #eeeeee;
  background: #ffffff;
  margin: 40px 2vw 5vw;
  color: #020F59;
  border: solid 1px #020F59;
  height: auto;
  border-radius: 16px;
}

.file-uploaad__header {
  font-size: 15px;
  text-align: left;
  color: #020F59;
  padding: 4px 2rem;
  margin-top: 5px;
  margin-bottom: -18px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1200px) {
  .file-uploaad__header {
    display: block;
  }
}
.file-upload__body {
  padding: 0px 2rem 10px 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (min-width: 1026px) and (max-width: 1400px){
  .file-upload__body {
    padding: 0px 2rem 10px 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: -26px;
  }
  .file-upload {
    box-shadow: 1px 1px 10px 4px #eeeeee;
    background: #ffffff;
    margin: 40px 2vw 11vw;
    color: #020F59;
    border: solid 1px #020F59;
    height: auto;
    border-radius: 16px;
  }

}

.file-upload__body__1 {
  width: 50.5vw;
  margin-bottom: 30px;
}

.file-upload__body__2 {
  width: 40%;
  padding-bottom: 20px;
}

:host ::ng-deep .ng2-pdf-viewer-container {
  width: 100% !important;
  height: 44vh !important;
}

.pdf-viewer {
  max-width: 300px;
}

.file-upload__body__2 > p {
  margin: 0px 0px 16px 0px;
  font-size: 0.8rem;
}

.file-upload__message {
  padding: 20px 2rem 10px 2rem;
  font-size: 0.8rem;
}

.file-upload__body__document-type {
  padding: 10px 0px;
  min-height: 100px;
}
.filestyle{
  border:solid 1px #BCE0FD;
  margin: 10px;
  padding-top: 22px;
}
.deleteicon{
  background-image: url('/assets/supp.svg');
  
  height: 29px;
  width: 29px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
#sameas{
  margin: 40px;
  position: relative;
  top: 9px;
}

.file-upload__body__document-name {
  max-width: 30vw;
  padding: 0.2rem 0;
  font-size: 0.8rem;
  position: relative;
  margin-left: -34px;
}

.file-upload__body__document-name span:nth-child(2) {
  padding-left: 15px;
}

.file-upload__body__document-name .cross {
  font-size: 1.5em;
  right: 0px;
  text-align: right;
}

.file-uplaoad__body__document-name__view {
  float: left;
}

.file-uplaoad__body__document-name__view img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: none;
}
.docposition{
  margin-left: 78px;
  text-decoration: underline #BCE0FD;
  color: #020F59;
  position: relative;
  top: -3px;
}
.file-upload__button {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 0.5rem;
}

.file-uplaoad__body__2__preview {
  height: 60vh;
  width: 100%;
}

.user__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  bottom: 68px;
  position: fixed;
  z-index: 22;
  padding: 0 2vw;
}

.user__btn {
  background-color: #BCE0FD;
  border: none;
  color: #020F59 !important;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 6px 3rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
}

.user__btn--back {
  background-color: #BCE0FD;
  color: #020F59;
  margin-left: 2rem;
  text-transform: none;
}

.user__btn:disabled,
.user__btn:active {
  color: #2f3033;
  cursor: default;
}
.file-upload__input,
.file-upload__or {
  width: 33%;
}

.file-upload__or {
  padding-top: 1rem;
}

.file-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.file-buttons .previousFile,
.file-buttons .nextFile {
  background: none;
  border: none;
  height: 15px;
}

.file-buttons .previousFile img,
.file-buttons .nextFile img {
  height: 100%;
}

.file-buttons p {
  margin: 0px;
}

.file-buttons .previousFile:disabled,
.file-buttons .nextFile:disabled {
  filter: brightness(170%);
}

.loader {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 40vh;
  left: 40vw;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
