.wuri-card {
    color: #020F59;
    margin-left: 45rem;
    margin-top: 14rem;
    border: solid grey 1px;
    margin-right: 30%;
    border-radius: 30px;
    padding: 5rem 5rem 5rem 5rem;
    box-shadow: 0px 3px 6px darkgrey;
    max-width: 35rem;
}

.espace{
    margin-left: 1.3em;
}

.space{
    margin-left: 5.5em;
}