<div class="wuri-card">
    
    <b>Adresse</b>: 
    <span class="espace">Programme Wuri Guin&eacute;e - R&eacute;sidence Corail<br></span>
            <span class="space">Bureau A101</span>
        <br><span class="space">Camayenne-Dixinn </span>
        <br><span class="space">Conakry, République de Guinée</span>
            <br>
        <br>
    <br> <b>Téléphone</b>:&nbsp;&nbsp; +224622227491
    <br> <b>E-mail</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contact@inu.gov.gn

</div>