.spinner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.time-selection__title-card {
  color: #020F59;
  padding: 0px;
  align-items: center;
  margin: 0px 2vw;
  border: 1px solid #020F59;
  border-radius: 10px;
  height: 564px;
  display: block;
  z-index: 2;
}
@media (max-width: 1200px) {
  .time-selection__title-card {
    display: block;
  }
}

.applicants_card {
  margin-right: 10px ;
  margin-bottom: 10px;
}
.disable_add {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.time-selection__arrow-text {
  margin: auto;
  color: #020F59;
  cursor: pointer;
}

.time-selection__date-card {
  margin: 0px 2vw;
  border-radius: 0px;
  padding: 1px 2rem;
  margin-top: 35px;
  border: 1px solid #BCE0FD  ;
  border-radius: 10px;
}

.time-selection__tile-date {
  margin: 10px 0 10px 0;
  font-size: 1rem;
  font-weight: 600;
}

.time-selection__tile-date-text {
  margin: 10px 0 10px 0;
  font-size: 1rem;
  font-weight: 400;
}

.time-selection__tile-availability-text {
  margin: 15px 0 15px 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.time-selection__slots-div {
  display: flex;
  margin: -38px 33px 1px 2vw;
  padding-bottom: 80px;
  border:solid 1px #BCE0FD;
  border-radius: 15px;
  padding: 14px;
}
.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none !important;
}

.time-seelection__slot-groups-div {
  display: flex;
  margin: 5px 2vw 40px 2vw;
  padding: 0px 2rem;
}

.time-seelection__slot-groups-div a {
  margin: 0 40px 5px 0px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.time-seelection__slot-groups-div-selected {
  color: blue !important;
}

.time-selection__time-slots-container {
  margin-right: 20px;
  padding: 0;
  border-radius: 0px;
}

.time-selection__names-container {
  min-width: 58% !important;
  padding: 0;
  display: flex !important;
  flex-direction: row !important;
  padding-left: 10%;
}

.time-selection__time-slots-container div {
  display: -webkit-flex;
  flex-wrap: wrap;
  max-width: 90%;
  display :inline-table;
  margin: -2px;
}

.time-selection__name-list-header {
  height: 55px;
  width: 100%;
  background-color: #020F59;
  padding: 5px 1.4rem;
  word-wrap: break-word;
  color: white;
  border-radius: 6px 6px 0px 0px;
}

.time-selection__names-header-date-text {
  font-size: 12px;
}

.time-selection__names-header-time-text {
  font-size: 20px;
  margin-top: 10px;
}

.time-selection__names-header-day-text {
  font-size: 9px;
}

.time-selection__name-list {
  padding: 0px 2rem;
  list-style: none;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  border-radius: 2px;
  border: solid 1px #BCE0FD;
}

.time-selection__name-list-item {
  padding: 15px 0 15px 10px;
  height: 30px;
  width: 100%;
  font-size: 0.8rem;
}

.name-delete-button {
  font-size: 1rem;
  cursor: pointer;
  float: right;
  text-align: center;
  transform: translateY(0.2rem);
  color: #020F59 !important;
}

.user__btn {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 0.8rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-placer {
  margin-left: 50%;
}

.button-right {
  float: right;
}

.user__btn:disabled,
.user__btn:active {
  border: 1px solid gray;
  background-color: white;
  color: #ff4081;
}

.card {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  width: 123px;
  margin: 0;
  border: 1px solid #BCE0FD;
  box-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 10px 10px 0px;
}

.card-content {
  padding:0px 0rem;
}

.card-time-text {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 2rem;
  padding-top: 8px;
  padding-left: 15px;
}

.card-slot-text {
  font-size: 11px;
  font-weight: 500;
  margin-top: -46px; 
  margin-left: 98px;
}

.card-slot-text-span-number {
  font-size: 0.8rem !important;
  font-weight: 600;
  color: #020F59; 
  margin-left: 5px; 
}
.compteur{
  display: table-column;
  float: right;
}

.card-slot-text-span-image {
  float: right;
  margin-left: 10px;
}

.card-slot-text-span-image img {
  height: 1rem;
  width: 1rem;
}

.card-slot-text-selected {
  font-size: 0.8rem;
  font-weight: 500;
  color: #020F59;
  margin-top: -48px; 
  margin-left: 101px; 
}

.sizing {
  height: 80%;
  display: inline-block;
  margin: 0 8px 0 2px;
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  padding: 2px 20px 2px 20px;
  border: 1px solid #020F59;
}

.sizing:nth-child(1) {
  margin-left: 0px;
  height: 80%;
}

.middle {
  float: left;
  overflow: hidden;
  width: 67.5%;
  white-space: nowrap;
  margin: 0 15px;
}

.container {
  display: flex;
  text-align: center;
}

.left-button {
  margin: auto;
  float: left;
  cursor: pointer;
}

.right-button {
  margin: auto;
  float: right;
  cursor: pointer;
}

.disabled {
  color: #aaa;
  border: 1px solid #aaa;
  cursor: initial;
}

.selected {
  border: none;
  background: #BCE0FD !important;
  border-radius: 10px;
}

.selected-card {
  background-color: #BCE0FD !important;
  color: #020F59 !important;
}

.time-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: 0;
  padding: 2px 1.6rem;
  display: flex;
  z-index: 22;
  background: none;
}
.spacer {
  flex: 1 1 auto;
}
.user-back-btn {
  background-color: #BCE0FD;
  border: 1px solid #BCE0FD;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2rem;
  cursor: pointer;
  text-transform: uppercase;
}
.user-book_later-btn {
  background-color: #BCE0FD;
  border: 1px solid #BCE0FD ;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2rem;
  cursor: pointer;
  margin-right: 0px;
  text-transform: uppercase;
}
.user-continue-btn {
  background-color: #BCE0FD ;
  border: none;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 3rem 4px 1.2rem !important;
  cursor: pointer;
  text-transform: uppercase;
}
.user-continue-btn-normal {
  background-color: #BCE0FD ;
}

.time-selection__date {
  margin: 0.35rem 0 10px 5px;
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    margin: 0 -20px 0 -20px;
  }
  .middle {
    margin: 0;
    width: 100%;
    overflow: scroll;
  }
  div::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .sizing {
    margin: 0 5px 0 5px;
  }

  .time-selection__name-list-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .time-selection__time-slots-container {
    width: 100%;
  }

  .time-selection__slots-div {
    flex-wrap: wrap;
  }

  .time-selection__name-list-header {
    height: 50px;
    width: 100%;
    padding: 5px;
  }

  .user-back-btn,
  .user-book_later-btn,
  .user-continue-btn {
    font-size: 10px;
    padding: 0px 2px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .container {
    margin: 0 0 0 15px;
  }
  .sizing {
    margin: 0 10px 0 10px;
  }
  .middle {
    margin: 0;
    width: 75%;
  }
}

@media (min-width: 1040px) {
  .middle {
    width: 85%;
  }
}

@media (max-width: 1300px) {
  .time-selection__names-container {
    flex-direction: column !important;
  }
  .applicants_card {
    margin-right: 0 ;
  }
}

.disabled_btn
{
  background-color: #E1F0FB;
  cursor: not-allowed;
}

.placeholder{
  color: #707070;
  font-size: 0.7rem;
  padding: 5px 0 15px 10px;
  scroll-snap-align: center;
  display: flex;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 100%;
}

@media (min-width: 859px) and (max-width: 1125px){
  .placeholder {
    color: #707070;
    font-size: 0.7rem;
    padding: 8px 0px 15px 33px;
    scroll-snap-align: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    height: 30px;
    width: 100%;
  }
}
#legend-step{
  position: relative;
  margin-bottom: -30px;
  margin-top: -30px;
}
.mat-card-header{
  margin-left: -27px;
}
