<div class="wuri-card">
    <form [formGroup]="userForm" class="user__form">
        <mat-form-field>
            <mat-label>Nom complet<span class="mandatory">*</span>
            </mat-label>
            <input 
                matInput 
                #fullName 
                placeholder="Nom complet" 
                [formControlName]="formControlNames.fullName" />
            <mat-error *ngIf="true">
                Ce champs est requis
            </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>{{ 'demographic.label_email_id' | translate }}<span class="mandatory">*</span></mat-label>
            <input 
                #email 
                type="text" 
                matInput 
                placeholder="{{ 'demographic.label_email_id' | translate }}" 
                [formControlName]="formControlNames.email"/>
            <mat-error *ngIf="true">Ce champs est requis</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>Raison<span class="mandatory">*</span></mat-label>
            <mat-select 
                placeholder="Raison" 
                appearance="legacy"
                name="fontStyle"
                aria-label="Font Style"
                (selectionChange)="onReasonChange(reasons, $event)"
                [formControlName]="formControlNames.reason">
            <mat-option *ngFor="let reason of reasons" [value]="reason.key"> 
                {{reason.value}} 
            </mat-option>
            </mat-select>
            <mat-error *ngIf="true"> Ce champs est requis</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field *ngIf="displayOtherReason">
            <mat-label>Autre Raison <span class="mandatory">*</span></mat-label>
            <input 
                matInput 
                #otherReason 
                placeholder="Autre Raison" 
                [formControlName]="formControlNames.otherReason"/>
            <mat-error *ngIf="true">
                Ce champs est requis
            </mat-error>
        </mat-form-field>
        <br />

        <textarea 
            matInput 
            #message 
            placeholder="Message" 
            rows="4" 
            maxlength="40"
            [formControlName]="formControlNames.message">
        </textarea>
        <br />

        <button 
            class="user__btn user__btn--back" 
            type="button"
            (click)="onSubmit()">
            Envoyer
        </button>
    </form>
</div>

<!-- <div class="wuri-card">
    
    <b>Adresse</b>: 
    <span class="espace">Programme Wuri Guin&eacute;e - R&eacute;sidence Corail<br></span>
            <span class="space">Bureau A101</span>
        <br><span class="space">Camayenne-Dixinn </span>
        <br><span class="space">Conakry, République de Guinée</span>
            <br>
        <br>
    <br> <b>Téléphone</b>:&nbsp;&nbsp; +224622227491
    <br> <b>E-mail</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contact@inu.gov.gn

</div> -->