
.inline-flex {
  display: inline-flex;
}
.center_selection-wrapper {
  margin: 40px 2vw 12vw;
}
.center-selection__title-card {
  color: #020F59;
  padding: 0;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  box-shadow: none;
}
@media (max-width: 1200px) {
  .center-selection__title-card {
    display: block;
  }
}
.center-selection__button-container {
  width: 100%;
  position: fixed;
  bottom: 68px;
  left: 0;
  box-shadow: none;
  padding: 2px 1.6rem;
  display: flex;
  z-index: 22;
  background: none;
}
.spacer {
  flex: 1 1 auto;
}

section {
  display: flex;
}
.centers-wrapper {
  margin-left: 35px;
  margin-right: 2vw;
  width: 55%;
}

.centers-list ul {
  list-style-type: none;
  padding: 0%;
  font-size: 0.8rem;
  display: flex;
  width: 96%;
}

.center-card {
 margin: 7px;
  display: inline-block;
  border-radius: 19px;
  line-height: 1;
  width: 319px
}
#schedule{
  position: relative;
  top: 8px;
}

.center-card-selected {
  border: 1px solid #020F59;
  margin: 7px;
  background: #F1F9FF;
}

input[type='radio'] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  height: 2rem;
  margin-right: 1.2rem;
}

.map {
  width: 40%;
    display: block;
    margin-top: -2vw;
  }

.container {
  display: flex;
  margin-bottom: 60px;
}

.user-back-btn {
  background-color: #BCE0FD;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2rem;
  cursor: pointer;
  text-transform: none;
  font-weight: bold;
}
.user-book_later-btn {
  background-color: #BCE0FD;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2rem;
  cursor: pointer;
  margin-right: 0px;
  text-transform: none;
  font-weight: bold;
}
.user-continue-btn {
  background-color: #BCE0FD;
  border: none;
  color: #020F59;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 3rem 4px 1.2rem !important;
  cursor: pointer;
  text-transform: none;
  font-weight: bold;
}

.center_selection-intial-recommendation-container {
  display: flex;
  align-items: center;
  margin-top:7px;
}
.center_selection-center_recommendation-display {
  color: #30badd;
  opacity: 100%;
  font-family: Roboto;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
}
.center_selection-nearby-btn {
  color: #afafaf;
  font-family: Roboto;
  opacity: 100%;
  margin-left: 30px;
  margin-right: 15px;
  padding: 0;
  text-transform: uppercase;
  transform: translateY(-0.4rem);
}
.center_selection-center-available-text {
  color: #6e6e6e;
  opacity: 100%;
  font-family: Roboto;
  font-size: 12px;
}
.search-btn img {
  height: 1rem;
  transform: translateY(-0.01rem);
}
.search-btn {
  width: 35px;
  height: 35px;
  background-color: #f4f4f4;
  border: 1px solid #fd518c;
  border-radius: 0;
  opacity: 100%;
  line-height: 30px;
  text-transform: uppercase;
}
.center_selection-form-container {
  animation: 1.3s anim ease-out;
}
@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-cancel-btn {
  width: 35px;
  height: 40px;
  background-color: #BCE0FD;
  border-radius: 0;
  opacity: 100%;
  text-transform: uppercase;
  display: none;
}
.search-input {
  padding: 10px 10px 6px;
  outline: none;
  color: #000000;
  font-family: Roboto;
  opacity: 100%;
  background-color: white;
  text-transform: uppercase;
  border: none;
  width: 85%;
  border-bottom: solid 1px #BCE0FD;
  border-top: solid 1px #BCE0FD;
  border-left: solid 1px #BCE0FD;
  height: 39px;
}
.select-input {
  outline: none;
  font-family: Roboto;
  color: #000000;
  opacity: 100%;
  padding: 14px;
  appearance: none;
  width: 100%;
  font-size: 14px;
}

.mat-option:hover {
  background-color: #BCE0FD;
  opacity: 100%;
}
.select-card {
  padding: 0;
  box-shadow: 4px black;
  border-radius: 0;
  height: 40px;
  width: 36%;
  margin-top: 6px;
  border-bottom: solid 1px #BCE0FD;
  box-shadow: none;
}
.search-text {
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  color: #707070;
  width: 100%;
  margin-top: 10px;
  margin-left: 25px;
}
.search-card {
  width: 36%;
  height: 40px;
  padding: 0;
  box-shadow: 4px black;
  border-radius: 0;
  margin-top: 7px;
  display: inline-flex;
  margin-left: 45px;
  box-shadow: none;
}
.mat-icon-button{
  background: #BCE0FD;
  border-radius: 0%;
  padding: 0;
    min-width: 0;
    width: 40px;
    height: 39px;
    flex-shrink: 0;
    line-height: 40px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 213px;
  top: -66px;
}

@media (max-width: 500px) {
  .user-back-btn,
  .user-book_later-btn,
  .user-continue-btn {
    font-size: 10px;
    padding: 0px 2px;
    margin-right: 20px;
  }
  .container {
    display: flex;
    padding: 0px 1rem 0px 2rem;
  }
  .centers-wrapper {
    width: 90%;
  }
  .center_selection-center_recommendation-display {
    white-space: normal;
  }
}
.timing{
  display: none;
}
.radiohide{
  display: none;
}

.center-selection__card {
  color: #020F59;
  padding: 4px;
  align-items: center;
  margin: 0px 0vw;
  border: 1px solid #020F59;
  border-radius: 10px;
  height: 590px;
  display: block;
  z-index: -auto;
}

